@using ClientApp.Services.Interfaces

@inject IIdentityParser<ApplicationUser> UserManager

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="nav d-flex justify-content-end align-items-center">
        <div class="nav-item me-4">
            <a type="button"
               asp-area=""
               asp-controller="Basket"
               asp-action="Index"
               class="btn btn-sm btn-link position-relative text-decoration-none p-1">
                <span class="fs-4">
                    <i class="d-flex bi bi-cart3 text-dark"></i>
                </span>

                <span id="cartLabel"
                      class="position-absolute top-0 start-100 translate-middle badge rounded-pill">
                </span>
            </a>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserManager.Parse(User).Name
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li class="mb-2">
                    <a asp-area=""
                       asp-controller="Order"
                       asp-action="Index"
                       class="d-flex align-items-center dropdown-item border-bottom py-2">
                        <i class="d-flex bi bi-clipboard-check me-2"></i>
                        My Orders
                    </a>
                </li>

                <li>
                    <a asp-area=""
                       asp-controller="Account"
                       asp-action="Signout"
                       class="d-flex align-items-center dropdown-item">
                        <i class="d-flex bi bi-box-arrow-right me-2"></i>
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-end">
        <a type="button"
           asp-area=""
           asp-controller="Account"
           asp-action="SignIn"
           class="d-flex align-items-center btn btn-outline-primary">
            <i class="d-flex bi bi-box-arrow-in-right me-2"></i>

            Login
        </a>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        const cartCount = localStorage.getItem('cartCount');

        const cartLabel = $("#cartLabel");

        if (cartCount > 0) {
            cartLabel.text(cartCount);
            cartLabel.addClass("bg-danger");
        }
    });
</script>