@using ClientApp.Models
@using ClientApp.Services.Interfaces

@inject IIdentityParser<ApplicationUser> UserManager

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="nav d-flex justify-content-end align-items-center">
        <div class="nav-item me-4">
            <a type="button"
               asp-area=""
               asp-controller="Cart"
               asp-action="Index"
               class="btn btn-sm btn-link position-relative text-decoration-none p-1">
                <span class="fs-4">
                    <i class="d-flex bi bi-cart3 text-dark"></i>
                </span>

                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    9
                </span>
            </a>
        </div>

        <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserManager.Parse(User).Name
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Signout" class="dropdown-item">
                        <img src="~/images/logout.png" alt="logout">
                        Log Out
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="d-flex justify-content-end">
        <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="Account" asp-action="SignIn">
            Login
        </a>
    </div>
}